.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.choice {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  gap: 2rem;
}

span {
  font-size: 2rem;
}

button {
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
}

.percent {
  display: flex;
  gap: 0.3rem;
  width: 15rem;
}

.percent span {
  position: relative;
  top: 0.5rem;
  left: 0.1rem;
  font-size: 1.3rem;
}

.buttons {
  position: relative;
  left: 1rem;
  margin: 0.5rem 1rem;
}

#clear-record, #delete-subject {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    padding: 0.4rem;
    height: 1.7rem;
    width: 6.5rem;
}

#clear-record {
    position: relative;
    top: 1rem;
    left: 3.5rem;
}

.clear {
    margin-top: -0.8rem;
    display: flex;
    justify-content: space-between;
}

#clear-subject {
    margin-top: 0.6rem;
    width: 5rem;
    height: 1.6rem;
}
